/*
font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #2E2E2E;
    font-family: 'Montserrat', sans-serif;
}