/*
font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --chooseColBlockSize: 65px;
    --chooseColBlockDefaultPos: 10%;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #2E2E2E;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.main {
    background-color: #525464;    
    height: 98%;
    width: 98%;
    position: relative;
}

/* 
//////////////////////////////////////////////////////
/////////////////           Up
//////////////////////////////////////////////////////
*/

section.up, section.middle, section.down {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

section.up {
    width: 100%;
    height: var(--section-top-height);

    padding-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

section.down {
    width: 100%;
    height: var(--section-bottom-height);
    
    padding-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

/* 
////////////////////////////////////////////////////////////////////////////////////
////////////////////////                Middle
////////////////////////////////////////////////////////////////////////////////////
*/

section.middle {
    justify-content: space-between;

    width: 100%;
    height: var(--section-middle-height);
    /* padding: 0rem 3rem; */

}
.middleLeft, .middleRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    max-width: 30%;
    height: 100%;
    padding: 0rem 1rem;
}

.middleMiddle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* 
////////////////////////////////////////////////////////////////
////////////        Choose color
////////////////////////////////////////////////////////////////
*/

.wildChooseColor {
    position: relative;
    height: 14rem;
    width: 14rem;
}

.wildChooseColor .block {
    position: absolute;
    width: var(--chooseColBlockSize, 65px);
    height: var(--chooseColBlockSize, 65px);
    border-radius: 5px;
    transform: rotate(45deg);
}
.wildChooseColor .red {
    background: #EF5555;
    left: calc(50% - var(--chooseColBlockSize, 65px) / 2);
    top: var(--chooseColBlockDefaultPos);
}
.wildChooseColor .yellow {
    background: #FFF50F;
    top: calc(50% - var(--chooseColBlockSize, 65px) / 2);
    right: var(--chooseColBlockDefaultPos);
}
.wildChooseColor .green {
    background: #00CC5E;
    left: calc(50% - var(--chooseColBlockSize, 65px) / 2);
    bottom: var(--chooseColBlockDefaultPos);

}
.wildChooseColor .blue {
    background: #0066FF;
    top: calc(50% - var(--chooseColBlockSize, 65px) / 2);
    left: var(--chooseColBlockDefaultPos);
}

/* 
////////////////////////////////////////////////////////////////
////////////        
////////////////////////////////////////////////////////////////
*/

.direction.clockwise {
    transform: scaleX(1);

    /* -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s; */
    transition: 0.5s;
}

.direction.anticlockwise {
    transform: scaleX(-1);

    /* -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s; */
    transition: 0.5s;
}