/*
font-family: 'Merienda', cursive;
font-family: 'Montserrat', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background-color: #2E2E2E;
    font-family: 'Montserrat', sans-serif;
}


.logoContainer {
    --logoBlockSize: 65px;
    --animationDuration: 1s;
    --animationOutPos: 2%;
    --animationDefaultPos: 10%;
}
/*
////////////////////////////////////////////////////////////////////////////////
//////////                          Main
////////////////////////////////////////////////////////////////////////////////
*/

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.main {
    background-color: #6978FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    height: 80%;
    width: 80%;
}

.main .title {
    font-family: 'Merienda', cursive;
    font-size: 100px;
    color: #2F2F2F;
}

/*
////////////////////////////////////////////////////////////////////////////////
//////////                          Logo
////////////////////////////////////////////////////////////////////////////////
*/
.logoContainer {
    position: relative;
    height: 14rem;
    width: 14rem;
}

.logoBlockCommon {
    position: absolute;
    width: var(--logoBlockSize, 65px);
    height: var(--logoBlockSize, 65px);
    border-radius: 5px;
    transform: rotate(45deg);

    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: var(--animationDuration, 5s);
}
.redLogo {
    background: #EF5555;
    left: calc(50% - var(--logoBlockSize, 65px) / 2);
    top: var(--animationDefaultPos);
    animation-name: animLogoRed;
}
.yellowLogo {
    background: #FFF50F;
    top: calc(50% - var(--logoBlockSize, 65px) / 2);
    right: var(--animationDefaultPos);
    animation-name: animLogoYellow;
}
.greenLogo {
    background: #00CC5E;
    left: calc(50% - var(--logoBlockSize, 65px) / 2);
    bottom: var(--animationDefaultPos);
    animation-name: animLogoGreen;

}
.blueLogo {
    background: #0066FF;
    top: calc(50% - var(--logoBlockSize, 65px) / 2);
    left: var(--animationDefaultPos);
    animation-name: animLogoBlue;
}

/*
////////////////////////////////////////////////////////////////////////////////
//////////                 Animations for Logo
////////////////////////////////////////////////////////////////////////////////
*/
@keyframes animTemp {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes animLogoRed {
    0%   { top: var(--animationOutPos);     }
    25%  { top: var(--animationDefaultPos); }
    50%  { top: var(--animationDefaultPos); }
    75%  { top: var(--animationDefaultPos); }
    100% { top: var(--animationOutPos);     }
}
@keyframes animLogoYellow {
    0%   { right: var(--animationDefaultPos); }
    25%  { right: var(--animationOutPos);     }
    50%  { right: var(--animationDefaultPos); }
    75%  { right: var(--animationDefaultPos); }
    100% { right: var(--animationDefaultPos); }
}
@keyframes animLogoGreen {
    0%   { bottom: var(--animationDefaultPos); }
    25%  { bottom: var(--animationDefaultPos); }
    50%  { bottom: var(--animationOutPos);     }
    75%  { bottom: var(--animationDefaultPos); }
    100% { bottom: var(--animationDefaultPos); }
}
@keyframes animLogoBlue {
    0%   { left: var(--animationDefaultPos); }
    25%  { left: var(--animationDefaultPos); }
    50%  { left: var(--animationDefaultPos); }
    75%  { left: var(--animationOutPos);     }
    100% { left: var(--animationDefaultPos); }
} 

/*
////////////////////////////////////////////////////////////////////////////////
//////////                          Button
////////////////////////////////////////////////////////////////////////////////
*/

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}
.button p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #000;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;

    background-color: #96AF00;
    border-radius: 30px;
    width: 100%;
}

.button:hover {
    background-color: #CFE353;
}